.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 350px) {
    .lista {
        max-width: 350px;
    }
}